@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Rubik+Microbe&family=Sacramento&display=swap");

* {
  text-align: center;
  background-color: #1a2342;
  user-select: none;
  /* overflow: hidden; */
}

.nav {
  padding: 0 50px;
  font-family: "Quicksand", sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #e23d28;
  height: 80px;
  border-bottom: 3px solid #243163;
}
.title {
  z-index: 4;
  font-weight: 900;
  font-size: 3rem;
}

.reset {
  z-index: 4;
  font-size: 25px;
  color: #e23d28;
  cursor: pointer;
  padding: 10px 20px;
  /* border-color: transparent; */
  /* border-radius: 20px; */
  outline: none;
  border: none;
  transition: 0.2s;
}
.reset::after {
  content: "";
  width: 0;
  height: 2px;
  background: #ff432a;
  position: absolute;
  right: 59px;
  top: 60px;
  transition: 0.3s ease;
}

.reset:hover::after {
  /* border: 2px solid #e23d28; */
  width: 84px;
}

.window {
  display: flex;
  padding: 0 190px;
}

.X {
  padding-top: 180px;
  font-size: 12rem;
  color: green;
  font-family: "Quicksand", sans-serif;
}
.o {
  padding-top: 180px;
  font-size: 12rem;
  color: #243163;
  font-family: "Quicksand", sans-serif;
}
.board {
  z-index: 9;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 5rem auto;
  user-select: none;
  cursor: pointer;
  padding-top: 30px;
}

.board_box {
  border-right: 4px solid #e23d28;
  border-bottom: 4px solid #e23d28;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 7rem;
  font-family: "Quicksand", sans-serif;
  color: #f0e68c;
  padding: 10px;
  transition: all 0.2s;
}

.board_box:active {
  background-color: #f45d495b;
  opacity: 3;
}

.board_box:nth-child(3n) {
  border-right: none;
}

.board_box:nth-child(6) ~ .board_box {
  border-bottom: none;
}

.result-contain {
  transition: all 0.2s;
  position: relative;
  z-index: 10;
  margin-top: -557px;
  padding-top: 50px;
  padding-bottom: 135px;
  height: 510px;
  background-color: #84251957;
  align-content: flex-end;
  font-size: 50px;
  font-weight: 900;
  color: #ff432a;
  font-family: "Quicksand", sans-serif;
  display: flex;
  align-items: center;
  transition: all 0.4s;
  display: none;
}

@media (max-width: 1193px) {
  .window {
    padding: 0 100px;
  }
}
@media (max-width: 1000px) {
  .window {
    padding: 0 80px;
  }
}
@media (max-width: 950px) {
  .window {
    padding-bottom: 140px;
  }
  .board {
    padding-top: 0;
    z-index: 4;
  }
  .board_box {
    height: 80px;
    width: 80px;
    font-size: 6rem;
  }
  .X {
    bottom: -220px;
    position: relative;
  }
  .o {
    /* padding-top: 0px; */
    bottom: -220px;
    position: relative;
    right: 20px;
    float: right;
  }
  .result-contain {
    margin-top: -610px;
    /* padding-bottom: 100%; */
  }
}
@media (max-width: 744px) {
  .window {
    justify-content: space-between;
  }
  .X,
  .o {
    z-index: 3;
    margin: auto -50px;
    margin-bottom: 100px;
    font-size: 9rem;
    right: 0;
  }
  .nav {
    padding: 0 30px;
  }
  .reset::after {
    right: 40px;
  }
  .result-contain {
    margin-top: -610px;
    height: 515px;
    padding-bottom: 130px;
    font-size: 40px;
  }
}
@media (max-width: 475px) {
  .board {
    position: absolute;
  }
  .board_box {
    height: 60px;
    width: 60px;
    font-size: 5rem;
  }

  .reset:hover::after {
    width: 70px;
  }

  .X,
  .o {
    z-index: 3;
    margin: auto -50px;
    margin-bottom: 100px;
    font-size: 9rem;
    right: 0;
  }
  .title {
    font-size: 2rem;
  }
  .reset {
    font-size: 20px;
  }
  .nav {
    padding: 0 30px;
  }
  .result-contain {
    margin-top: -600px;
    height: 500px;
    /* padding-bottom: 100%; */
    font-size: 30px;
  }
}
@media (max-width: 400px) {
  .board {
    /* margin: auto; */
    left: 15%;
  }
}
